<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <form
      action="http://localhost:3000/password/resetpassword/${link_id}"
      method="POST"
    >
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" name="newPassword" required />

      <input type="submit" value="Reset Password" />
    </form>
    <script></script>
  </body>
</html> -->
